<?xml version="1.0"?>

<config>
    <modules>
        <Sociaqui_Weather>
            <version>0.1.0</version>
        </Sociaqui_Weather>
    </modules>
    <global>
        <models>
            <weather>
                <class>Sociaqui_Weather_Model</class>
                <resourceModel>weather_mysql4</resourceModel>
            </weather>
            <weather_mysql4>
                <class>Sociaqui_Weather_Model_Mysql4</class>
                <entities>
                    <forecast>
                        <table>sociaqui_weather_forecasts</table>
                    </forecast>
                </entities>
            </weather_mysql4>
        </models>
        <helpers>
            <weather>
                <class>Sociaqui_Weather_Helper</class>
            </weather>
        </helpers>
        <blocks>
            <weather>
                <class>Sociaqui_Weather_Block</class>
            </weather>
        </blocks>
        <resources>
            <weather_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weather_write>
            <weather_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weather_read>
            <weather_setup>
                <setup>
                    <module>Sociaqui_Weather</module>
                    <class>Sociaqui_Weather_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </weather_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <weather>
                <use>standard</use>
                <args>
                    <module>Sociaqui_Weather</module>
                    <frontName>weather</frontName>
                </args>
            </weather>
        </routers>
        <layout>
            <updates>
                <weather>
                    <file>weather.xml</file>
                </weather>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                    <weather before="Mage_Adminhtml">Sociaqui_Weather_Adminhtml</weather>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sociaqui_weather translate="title" module="weather">
                <title>Sociaqui Weather</title>
                <sort_order>88</sort_order>
                <children>
                    <archive module="weather">
                        <title>Forecasts Archive</title>
                        <action>adminhtml/weather</action>
                    </archive>
                </children>
            </sociaqui_weather>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <weather_setup>
                                            <title>Sociaqui Weather in Footer Options</title>
                                            <sort_order>99999</sort_order>
                                        </weather_setup>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <weather_setup>
            <api>
                <location>Lublin</location>
                <location_code>274231</location_code>
            </api>
        </weather_setup>
    </default>
    <crontab>
        <jobs>
            <update_forecasts_in_database>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>weather/observer::updateForecasts</model>
                </run>
            </update_forecasts_in_database>
        </jobs>
    </crontab>
</config>
